<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\sqlexpress;Initial Catalog=ClientTST;uid=developer;pwd=*****;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Application Settings-->
    <add key="ScaningPeriod" value="3" />
    <add key="BackwardScaningDeep" value="3" />
    <add key="IsDebugMode" value="True" />
    <!--SMPP Settings-->
    <add key="Host" value="smppsms.mtt.ru" />
    <add key="Port" value="3700" />
    <!--use like Username-->
    <add key="SystemId" value="******" />
    <add key="Password" value="******" />
    <add key="SMSFrom" value="SENDER" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\ArgoSmsSenderService.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="-yyMMdd'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss.fff} %-5level [%-3thread] %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss} [%thread] %message%newline" />
      </layout>
    </appender>
    <!--LogLevel: OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <!-- Set logging for Spring. Logger names in Spring correspond to the namespace -->
    <logger name="ArgoSmsSender">
      <level value="INFO" />
    </logger>
    <logger name="NHibernate">
      <level value="WARN" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="WARN" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>